@page "/"
@* @inject IForumService ForumService *@

<PageTitle>Home</PageTitle>

<h1>Blazor Forums</h1>
<hr/>
Welcome to The Blazor Forums! A friendly community of Blazor enthusiasts discussing all things .NET
<br/>

<img width="512" alt="Blazor" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Blazor.png/512px-Blazor.png">
@code {


}