@page "/"
@* @inject IForumService ForumService *@

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@* <hr/>

@if(forums == null)
{
    <span>Loading...</span>
}
else if(forums.Count() == 0)
{
    <span>No Forums Found</span>
}
else
{
    <ul>
        @foreach (var forum in forums)
        {
            <li>@forum.Title</li>
        }
    </ul>
}
 *@
@code {
    // IEnumerable<Forum> forums = null;

    // protected override async Task OnInitializedAsync()
    // {
    //     forums = await ForumService.GetAsync();
    // }
}